
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #FAFAFA;

}

::-webkit-scrollbar{
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: red;
}
::selection{
    background-color: red;
}

